@page "/addcocktail"
@using CocktailsIdeas.Shared
@inject HttpClient httpClient

<div>
    <h3>Add a cocktail</h3>

    <EditForm EditContext="@editContext" OnValidSubmit="AddNewCocktail">
        <DataAnnotationsValidator />
        <div class="container-with-validation-message">
            <h5>Name</h5>
            <ValidationMessage For="@(() => cocktail.Name)"/>
        </div>
        <FocusableInputText @ref="cocktailNameRef" @bind-Value="cocktail.Name" class="cocktail-name" placeholder="cocktail's name" aria-label="Cocktail's name"/>
        <InputListCustom
            Title="Ingredients"
            Label="ingredient"
            Elements="cocktail.Ingredients"
            EditContext="editContext"
            FieldName="@nameof(cocktail.Ingredients)"
            ValidationMessageFor="@(() => cocktail.Ingredients)"
        />
        <InputListCustom
            Title="Steps"
            Label="step"
            Elements="cocktail.Steps"
            EditContext="editContext"
            FieldName="@nameof(cocktail.Steps)"
            ValidationMessageFor="@(() => cocktail.Steps)"
        />

        <div>
            <button type="submit" disabled="@isSubmitting">Add cocktail</button>
        </div>
    </EditForm>
</div>

@code {
    private Cocktail cocktail = new Cocktail();
    private bool isSubmitting = false;
    private EditContext editContext;
    private FocusableInputText cocktailNameRef;

    protected override void OnInitialized()
    {
        editContext = new EditContext(cocktail);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await cocktailNameRef.FocusAsync();
        }
    }

    private async Task AddNewCocktail()
    {
        isSubmitting = true;

        var response = await httpClient.PostAsJsonAsync("cocktails", cocktail);
        if (response.IsSuccessStatusCode)
        {
            cocktail = new Cocktail();
        }

        isSubmitting = false;
    }

}
